.bg-navbar {
  background: linear-gradient(
    to top,
    oklch(0.1776 0 0),
    oklch(0.3858 0.0624 41.2)
  );
}
.basement {
  border-radius: 0px 3px;
  border-style: solid;
  border-width: 36.667px;
  border-image-outset: 0;
  border-image-repeat: repeat;
  border-image-slice: 48;
  border-image-source: url(../assets/CSS_Border.webp);
  border-image-width: 1;
  box-shadow: 0px 0px 15px rgba(17, 17, 17, 0.8) inset;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.targ {
  background-color: #603829;
  border-radius: 0px 3px;
  border-style: solid;
  border-width: 36.667px;
  border-image-outset: 0;
  border-image-repeat: repeat;
  border-image-slice: 48;
  border-image-source: url(../assets/CSS_Border_Infobox.webp);
  border-image-width: 1;
  box-shadow: 0px 0px 15px rgba(17, 17, 17, 0.8) inset;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
/* Cualquier estilo que quieren hacer lo hacen en este archivo debajo de estos 2 */
